.headingDiv {
  background-color: #f2fcff;
  height: 125px;
}

.headingAccent {
  background-color: #a2def9;
  height: 85px;
  width: 3px;
  display: inline-block;
  position: relative;
  left: 20%;
  vertical-align: middle;
}

.headingText {
  display: inline-block;
  position: relative;
  top: 25px;
  left: 21%;
}

#heading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #52778f;
  font-size: 32px;
}

#subheading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  color: #3282b8;
}

.ServiceTable {
  table-layout: auto;
}

.ServiceTableDiv {
  position: relative;
  left: 20%;
  width: 60%;
  border-style: solid;
  border-color: #efefef;
  border-width: 1px;
}

.buttonDiv {
  position: relative;
  left: 20%;
  width: 60%;
}
