.headingDiv {
  background-color: #f2fcff;
  height: 125px;
}

.headingAccent {
  background-color: #a2def9;
  height: 85px;
  width: 3px;
  display: inline-block;
  margin: 0 0 0 20%;
  position: relative;
  vertical-align: middle;
}

.headingText {
  display: inline-block;
  position: relative;
  top: 25px;
  left: 10px;
}

#heading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #52778f;
  font-size: 32px;
}

#subheading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  color: #3282b8;
}

#button.table {
  box-shadow: none;
}
