.headingDiv {
  padding: 2% 0 0 20%;
  background-color: #f2fcff;
}

#heading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #52778f;
  font-size: 32px;
}

#subheading {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-size: 28px;
  color: #3282b8;
}
